  <!-- barra de menu inicio -->
  <div clas= "row">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Lista de Produtos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li> -->
         <li class="nav-item">
          <a class="nav-link" href="#" (click) ="OpenNewModal()">Cadastrar</a>
        </li> 
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Opções
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Sobre</a>
        </li> -->
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
      </form>
    </div>
  </nav>
</div>
  <!-- barra de menu FIM -->

  <!-- usando uma diretiva angular -->
<div class="row">

  <table class="table table-striped">
    <thead>
        <!-- <tr>
            <td colspan="3">
                <button class="btn btn-primary" (click) ="OpenNewModal()">Novo Produto</button>
            </td>
        </tr> -->
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Valor</th>
            <th>Tipo</th>
            <!-- <th>Data Cadastro</th> -->
            </tr>
            </thead>

            <tbody>
              <tr *ngFor= "let produto of produtoService.produto;let i=index;" [id]="'tr'+i">
                
              <td [innerHtml]="produto.nome"></td>
              <td [innerHtml]="produto.quantidade"></td>
              <td [innerHtml]="produto.valor"></td>
              <td [innerHtml]="produto.tipo"></td>
                            
              <td>
                  <!-- <a href="javascript:void(0)" (click) ="openEditModal">Editar</a> -->
                  <a href="javascript:void(0)" (click)="OpenEditModal(produto)">Editar</a> |
                  <a href="javascript:void(0)" (click)="openDestroyModal(produto)">Exluir</a>
              </td>
              </tr>
          </tbody>
</table>
</div>
  
<novo-produto-modal (onSubmit) = "onNewProduto($event)"></novo-produto-modal>
<editar-produto-modal [produto] = "produtoToEdit" (onSubmit) = "onEditProduto($event)"></editar-produto-modal>
<excluir-produto-modal [produto] = "produtoToDelete" (onDestroy) = "onDestroyProduto($event)"></excluir-produto-modal>



